*{
    border: 0;
    margin-top: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
    cursor: pointer;
}
header
{
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center ;      
    color: rgba(12, 1, 1, 0.936);
    font-size: larger;
    font-weight: bold;
}
header nav{
    margin-left: 20px;
    margin-right: 120px;
    
}
ul{
    display: flex;
    gap: 100px;
    
}
div{
    display: flex;
}
section{
    align-items: center;
    justify-content: center;
  }

.right{
    align-items:
    
}
.left{
    flex-wrap: wrap;
    margin-top: 200px;
    text-align: center;
    
}
h1{
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 55px;
    color: blueviolet;
    margin-left: 50px;
}
span{
    color: rgba(0, 0, 255, 0.507);
}
button{
    background-color: blue;
    border-radius: 10px;
    padding: 10px;
    color: beige;
}
p{
    color: rgb(27, 10, 10);
    margin-left: 50px;
    text-align: left;
}
button:hover {
    background-color: rgb(102, 87, 135);
}
li:hover{
    color: blueviolet;
}